<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Message Board</title>
</head>
<body>
    <h2>The Dojo Message Board!</h2>
    <hr>
    <% if (err){ %>
        <% for (var x in err){ %>
        <h3><%=err[x].message %></h3>
        <% } %>
    <% } %>
    <form action="/addMessage" method="post">
        <p><label for="name">Name: </label>
            <input type="text" name="name"></p>
        <p><label for="message">Message: </label>
            <textarea rows="6" cols="60" name="message"></textarea></p>
        <p><input type="submit" value="Post Message"></p>
    </form>
    <hr>
    <% for (var x in messages){ %>
        <p> <%= messages[x].name %> </p>
        <p> <%= messages[x].message %> </p>
        <% for (var y=0; y<messages[x]._comments.length; y++){ %>
            <p> <%= messages[x]._comments[y].name %> </p>
            <p> <%= messages[x]._comments[y].comment %> </p>
        <% } %>
        <form action='/addComment/<%= messages[x]._id %>' method="post">
            <p><label for="name"> Name: </label>
                <input type="text" name="name"></p>
            <p><label for="comment">Comment: </label>
                <textarea rows="4" cols="40" name="comment"></textarea></p>
            <p><input type="submit" value="Post Comment"></p>
            <hr>
    <% } %>

</body>
</html>
