<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Edit Pangolin</title>
</head>
<body>
    <div id="container">
        <h1>Pangolin Dashboard</h1>
        <div id="form">
            <form class="userForm" action="/pangolins/<%= pangolin._id %>" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name" value="<%= pangolin.name %>">
                <label for="age">Age:</label>
                <input type="text" name="age" value="<%= pangolin.age %>">
                <label for="size">Size:</label>
                <input type="text" name="size" value ="<%= pangolin.size %>">
                <label for="weight">Weight:</label>
                <input type="text" name="weight" value="<%= pangolin.weight %>">
                <input type="submit" value="Update Pangolin">
            </form>
        </div> <!-- end form -->
    </div> <!-- end container -->

</body>
</html>
